@model IEnumerable<ADTest.Models.ViewModel.LecturerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lecturer Name
            </th>
            <th>
               Lecturer ID
            </th>
            <th>
                Field of Study
            </th>
            <th>
                Domain
            </th>
            <th>
                Action
            </th>
            <th>
                Committee
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LecturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lecturerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldofStudy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domain)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.lecturerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.lecturerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.lecturerId">Delete</a>
            </td>
            <td>
                <select asp-for="@item.IsCommittee" class="form-control" onchange="updateCommittee(this.value, '@item.lecturerId')">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function updateCommittee(selectedStatus, lecturerId) {
        $.ajax({
            type: 'POST',
            url: '/Lecturers/UpdateCommittee',
            data: { status: selectedStatus, lecturerId: lecturerId },
            success: function (result) {
                // Handle success (e.g., show a message)
            },
            error: function () {
                // Handle error (e.g., display an error message)
            }
        });
    }
</script>